apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: service
    app.kubernetes.io/instance: controller-manager-metrics-service
    app.kubernetes.io/created-by: cluster-api-control-plane-provider-kubernikus
    app.kubernetes.io/part-of: cluster-api-control-plane-provider-kubernikus
    app.kubernetes.io/managed-by: kustomize
  name: controller-manager-metrics-service
  namespace: system
spec:
  ports:
  - name: https
    port: 8000
    protocol: TCP
    targetPort: 8000
  selector:
    control-plane: controller-manager
